<app-header [title]="'Edit task'"></app-header>

<ion-content>
  <form [formGroup]="taskForm" (ngSubmit)="write()">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input formControlName="title" name="title" required></ion-input>
        </ion-item>
        <ion-input formControlName="id" name="title" type="hidden"></ion-input>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea formControlName="description" name="description"></ion-textarea>
        </ion-item>

        <ion-datetime formControlName="date"></ion-datetime>

        <ion-item lines="none">
          <ion-label>Status</ion-label>
          <ion-checkbox formControlName="done" name="done" color="success"></ion-checkbox>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div class="button-container">
      <ion-button expand="full" type="submit" color="primary" [disabled]="taskForm.valid">Update</ion-button>
    </div>
  </form>
</ion-content>
